@import './helpers.scss';

button {
  background-color: blue;
  width: 400px;
}
.register-layout {
  height: 100%;
  width: 100%; 
  @include flexbox(column, flex-start, center);
  // margin: 12px;
  background-color: rgb(236, 236, 236);
  animation: fadeInRight 1s 1;
  padding-top: 87px;
}
.container {
  height: 100vh;

}
.form-reg {
  @include flexbox(column, space-around, center);
  height: 100%;
}


@keyframes fadeInRight {

  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
