button {
  background-color: blue;
  width: 400px;
}

.register-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;
}

.container {
  height: 100vh;
}

.form-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
