.nav-item {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 4px;
  border: 2px solid grey;
  font-size: 24px;
  height: 100%;
}

.nav-container {
  box-shadow: 0 0 4px 4px #c7c7c7;
  z-index: 2;
}
